.login__input {
    width: 100%;
    margin: 0 auto 30px;
    outline: none; 
    border: 0;
    border-bottom: 2px solid #CCC;
    font-size: 14px;
    line-height: 1.21;
    padding: 0 0 13.26px;
    color: #CCC;
    background-color: #000;
}